$list-color: #C0C0C0;

body{
   font-size:larger;
}

ul{
  padding-left:0px;
}

li{
  padding-left:20px;
  line-height:25px;
  list-style: none;
  border-width:1px;
}

li:nth-child(2n+1){
  border-color : $list-color;
  border-style: solid;
}

li:nth-child(2n){
  background-color:#C0C0C0;
  // border-style:solid;
}

button.btn-rm{
  float:right;

}

span.error-display{
  display:none;
}
span.error-display.error{
  display:inline;
}

input.user-input{
  padding-left:5px;
  margin-left:5px;
}
