@mixin button-bg($bg) {
    background: $bg;

    &:hover {
        background:darken($bg,8%);
        transition: all 0.3s ease;
    }

    &:active {
        background:darken($bg,25%);
    }
}

.btn {
    padding: 10px 20px;
    border: none;
    color: $color-whiteSmoke;
    text-decoration: none;
}

.btn-green {
    @include button-bg($color-light-green);
}

.btn-blue {
    @include button-bg($color-light-blue);
}

.btn-yellow {
    @include button-bg($color-light-yellow);
}

.btn-red {
    @include button-bg($color-light-red);
}
