ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: $base-font;
    font-size: $base-font-size;
    margin: 0;
    margin-top: 20px;
    background: $color-whiteSmoke;
}

li {
    list-style: none;
}

&:focus {
    outline: none;
}

input[type="text"] {
    height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-lynch;
    font-family: $highlight-font;
    font-weight: $highlight-font-bold;
}
