$color-silver:  #EEE;
$color-whiteSmoke: #ECECEC;
$color-lynch: #6C7A89;

$color-light-red: #f05f5c;
$color-light-green: #aab971;
$color-light-yellow: #fed484;
$color-light-blue: #5e98a3;

$highlight-font: 'Montserrat', sans-serif;

$highlight-font-regular: 400;
$highlight-font-bold: 700;

$base-font: 'Open Sans', sans-serif;
$base-font-size: 14px;


$base-font-light: 400;
$base-font-regular: 400;
$base-font-bold: 700;

